/* color
--------------------------------------------- */
$color-primary: #fd6011;
$color-secondary: #11253d;
$color-bg: #f0f5f9;
$color-placeholder: rgba(83, 97, 108, 0.3);

/* typography
--------------------------------------------- */
$font-primary: "Noto Sans JP", sans-serif;
$font-ubuntu: "Ubuntu", sans-serif;
$font-roboto: "Roboto", sans-serif;

/* mixin
--------------------------------------------- */
// _btn
$initType: "contact";
@mixin _btn($type: $initType) {
  @if ($type == "contact") {
    display: inline-block;
    text-align: center;
    color: #fff;
    max-width: 260px;
    padding: 1.25em 5em;
    background-color: $color-primary;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: bold;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.6;
    }

    @include mq("sp") {
      font-size: 14px;
      max-width: 228px;
    }
  } @else if($type == "more") {
    color: $color-secondary;
    background-color: #fff;
    border: 1px solid $color-primary;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
      color: #fff;
      background-color: $color-primary;
    }

    @include mq("tab") {
      font-size: 14px;
      max-width: 228px;
    }
  } @else if($type == "submit") {
    display: block;
    color: #fff;
    background-color: rgba(83, 97, 108, 0.5);
    border: 0;
    opacity: 1;
  }
}

/* breakpoints
--------------------------------------------- */
$layout-width-inner: 1000px;

$breakpoints: (
  "sm": "screen and (max-width: 600px)",
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* ===============================================
# utility
=============================================== */
body {
  color: $color-secondary;
  font-family: $font-primary;
  text-align: justify;
}

a {
  color: $color-secondary;
}

.inner {
  max-width: $layout-width-inner;
  margin: 0 auto;
  padding: 120px 0 120px;

  @include mq("tab") {
    padding: 64px 40px 80px;
    max-width: 100%;
  }

  @include mq("sp") {
    padding: 0 15px 80px;
  }
}

.btn {
  @include _btn();
}

.section-ttl {
  font-size: 40px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.08em;
  font-family: $font-ubuntu;
  text-align: center;

  @include mq("tab") {
    font-size: 30px;
  }

  @include mq("sp") {
    font-size: 26px;
  }
}

.section-sub-ttl {
  display: block;
  font-size: 16px;
  font-family: $font-roboto;
  font-weight: 700;
  margin-top: 12px;
  color: rgba(83, 97, 108, 0.8);

  @include mq("sp") {
    font-size: 14px;
    margin-top: 8px;
  }
}

.is-sp {
  display: none;

  @include mq("sp") {
    display: block;
  }
}

/* ===============================================
# header
=============================================== */
.header {
  width: 100%;
  height: 72px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &.is-show {
    box-shadow: 0 1px 5px rgba($color-secondary, 0.3);
  }

  @include mq("sp") {
    height: 58px;
  }

  &__inner {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px 0;
    margin: 0 auto;

    @include mq("tab") {
      padding: 0 30px 0;
    }

    @include mq("sp") {
      padding: 0 20px 0;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.6;
    }
  }

  &__logo {
    img {
      width: 100%;
      height: auto;

      @include mq("sp") {
        width: 34px;
      }
    }
  }

  &__company {
    margin-left: 4px;

    .header__ttl {
      font-size: 32px;
      font-family: $font-ubuntu;
      font-weight: bold;
      line-height: 1;

      @include mq("sp") {
        font-size: 20px;
      }
    }
    .header__sub-title {
      font-size: 12px;
      text-align: right;
      font-family: $font-ubuntu;
      font-weight: 700;

      @include mq("sp") {
        font-weight: 400;
        font-size: 11px;
      }
    }
  }

  &.is-show {
    box-shadow: 0 1px 5px rgba($color-secondary, 0.3);
  }
}

.gnav {
  margin-left: auto;

  @include mq("tab") {
    display: none;
  }

  @include mq("sp") {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    transition: all 0.3s ease;
    padding: 0.5em 0;

    &::before {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: $color-secondary;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s ease;
    }

    &:last-child::before {
      display: none;
    }

    &:hover::before {
      width: 100%;
    }

    & + & {
      margin-left: 32px;
    }

    .gnav__link {
      font-weight: bold;
      display: block;
      height: 100%;

      &.btn {
        font-size: 14px;
      }
    }
  }
}

.sp-gnav-icon {
  position: fixed;
  right: 20px;
  z-index: 900;
  display: none;

  @include mq("tab") {
    display: block;
    top: 24px;
  }
  @include mq('sp') {
    display: block;
    top: 19px;
  }

  &.is-active {
    .sp-gnav-icon__bar1 {
      transform: rotate(-45deg);
      top: 10px;
    }

    .sp-gnav-icon__bar2 {
      opacity: 0;
    }

    .sp-gnav-icon__bar3 {
      width: 30px;
      transform: rotate(45deg);
      top: 10px;
    }
  }

  &__bars {
    width: 30px;
    height: 20px;
    display: block;
    position: relative;
  }

  &__bar1,
  &__bar2,
  &__bar3 {
    position: absolute;
    height: 3px;
    background-color: $color-secondary;
    right: 0;
    transition: all 0.5s ease;
  }

  &__bar1 {
    top: 0;
    width: 30px;
  }

  &__bar2 {
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
  }

  &__bar3 {
    bottom: 0;
    width: 15px;
  }
}

.sp-gnav {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $color-bg;
  z-index: 899;
  transform: translateX(105%);
  transition: transform 0.5s ease;

  &.is-active {
    transform: translateX(0);
  }

  &__list {
    margin-top: 60px;
  }

  &__item {
    text-align: right;

    & + & {
      margin-top: 24px;
    }
  }

  &__link {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
  }
}

.sp-gnav-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.8);
  z-index: 898;
  display: none;

  &.is-active {
    display: block;
  }
}

h1 {
  display: none;
}

/* ===============================================
# works
=============================================== */
.works {
  margin-top: 72px;

  &__list {
    margin: 64px auto 0;
    max-width: 960px;

    @include mq('sp') {
      margin-top: 32px;
    }
  }

  &__item {

    a {
      display: inline-block;
    }

    & + & {
      margin-top: 160px;

      @include mq('sp') {
        margin-top: 80px;
      }
    }
  }

  &__img {
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px #eee;
    transition: opacity .5s ease;

    &:hover {
      opacity: .7;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__body {
    margin: 70px auto 0;
    max-width: 960px;

    @include mq('sp') {
      margin-top: 36px;
    }
  }

  &__ttl {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.08em;

    @include mq('sp') {
      font-size: 16px;
    }

    &__link {
      transition: opacity .3s ease;

      &:hover {
        text-decoration: underline;
        opacity: .6;
      }
    }
  }

  &__skil {
    margin-top: 18px;

    @include mq('sp') {
      margin-top: 10px;
      font-size: 14px;
    }
  }

  &__txt {
    margin-top: 18px;
    line-height: 1.5;

    @include mq('sp') {
      margin-top: 12px;
      font-size: 14px;
    }
  }
}

/* ===============================================
# footer
=============================================== */
.footer {
  background-color: $color-secondary;
  padding: 56px 120px 30px;
  color: #fff;

  @include mq("tab") {
    padding: 48px 34px 24px;
  }

  &__inner {
    display: flex;
    flex-flow: row-reverse;
    max-width: 1200px;
    margin: 0 auto;

    @include mq("tab") {
      display: block;
      max-width: 500px;
    }
  }

  &__right {
    width: 50%;

    @include mq("tab") {
      width: 100%;
    }

    .share {
      margin: 0 auto;

      &__list {
        margin-top: 24px;
        font-size: 30px;
        display: flex;
        justify-content: flex-start;

        @include mq("tab") {
          max-width: 210px;
          margin: 48px auto 0;
          justify-content: space-between;
        }
      }

      &__item {
        transition: opacity 0.3s ease;

        &:hover {
          opacity: 0.6;
        }

        &:not(:first-child) {
          margin-left: 24px;

          @include mq("tab") {
            margin-left: 0;
          }
        }
      }

      .fa-brands {
        color: #fff;
      }
    }
  }

  &__left {
    width: 50%;
    font-family: $font-ubuntu;

    @include mq("tab") {
      width: 100%;
    }
  }
}

.company {
  @include mq("tab") {
    margin-top: 48px;
  }

  &__name {
    font-weight: 700;
  }

  &__body {
    margin-top: 16px;
  }

  &__row {
    display: flex;
    align-items: center;

    & + & {
      margin-top: 12px;
    }
  }

  &__head {
    width: 100px;
    font-size: 14px;
  }

  &__data {
    display: inline-block;
    margin-left: 24px;
    font-size: 14px;

    @include mq("tab") {
      margin-left: 20px;
    }
  }
}

.fnav {
  &__list {
    display: flex;

    @include mq("tab") {
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
      justify-content: space-between;
    }
  }

  &__item {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.6;
    }

    & + & {
      margin-left: 32px;

      @include mq("sp") {
        margin-left: 0;
      }
    }
  }

  &__link {
    color: #fff;
  }
}

.copyright {
  color: #53616c;
  font-size: 12px;
  margin-top: 72px;

  @include mq("tab") {
    text-align: center;
  }

  @include mq("sp") {
    font-size: 11px;
    margin-top: 40px;
  }
}

/* ===============================================
# to-top
=============================================== */
.to-top {
  width: 50px;
  height: 50px;
  background-color: $color-primary;
  position: fixed;
  bottom: 39px;
  right: 34px;
  border-radius: 3px;
  z-index: 1;
  visibility: hidden;
  transition: visibility 0.3s ease;
  opacity: 0;

  @include mq("sp") {
    width: 32px;
    height: 32px;
    bottom: 16px;
    right: 16px;
  }

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

    @include mq("sp") {
      width: 6px;
      height: 6px;
      top: 6px;
    }
  }

  &::after {
    content: "TOP";
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: $font-ubuntu;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    @include mq("sp") {
      font-size: 12px;
      bottom: 5px;
    }
  }

  &.is-show {
    visibility: visible;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}
